mixin groupForm(data)
  div.group
    hr
    
    div.row
      div.span6
        label.control-label Group name:
        div.controls
          input(type="text",name="groupNames[]",class="input span4",value="#{data.name || ''}")
      div.span6
        button(class='btn btn-danger remove-group') 
          i.icon-trash
          |  Remove
    br

    div.control-group
      label.control-label Matching URL-s:
      div.controls
        textarea(class='span4',rows='2',name='urls[]') #{data.urls || ''}

h2 Editing job

form(class="form-horizontal",name="edit",method="post",action="/serp/edit")
  fieldset
    div.control-group
      label.control-label Job name:
      div.controls
        input(type="text",name="name",class="span4",value="#{job.name}")

    div.row
      div.control-group.span2
        label.control-label Start date:
        div.controls
          input(type="text",name="startDate",class="input span2 auto-kal",value="#{moment(job.start).format('MM/DD/YYYY')}")

      div.control-group.span1
        div.controls
          input(type="text",name="startTime",class="input span2",placeholder="HH:MM",value="#{moment(job.start).format('HH:mm')}")

    div.control-group
      label.control-label Status:
      div.controls
        select(class='span2',name='status')
          status = [ 'finished', 'started', 'waiting', 'queued']
          for item in status
            option(selected=job.status == item) #{item}

    div.control-group
      label.control-label Repeat every:
      div.controls
        select(class='span2',name='repeat')
          repeation = [ 'no-repeat', 'day', 'week', 'month']
          for item in repeation
            option(selected=job.repeat == item) #{item}

    div.control-group
      label.control-label Sources:
      div.controls
        select(class='span2',name='sources',multiple='multiple')
          enginges = [ 'google', 'neti.ee' ]
          for engine in enginges
            option(selected=job.sources.indexOf(engine) != -1) #{engine}

        p.help-block Source where to look for result pages, to choose multiple items use CTRl+ left click.

    div.control-group
      label.control-label Keywords:
      div.controls
        textarea(class='span4',rows='4',name='keywords')
          #{job.keywords.join(',')}

    h3 Group matching
    p.group-text It is useful to group the matching sets, like if the company has many sub domains: 
      button(class='btn btn-mini btn-info add-group')
        i.icon-plus-sign.icon-white
        |  Add group
      for match in job.match
        mixin groupForm(match)

    input(type="hidden",name="jobId",value="#{job._id}")      

    div.form-actions
      input(type="submit",value="Edit job",name="edit-job",class="btn btn-primary btn-medium")

  script(id='groupTpl',type="text/x-jquery-tmpl")
    mixin groupForm({})

  script(type='text/javascript')
    head.ready('jquery', function() {
      head.js('/javascripts/new-page.js');
      head.js('/javascripts/jquery.tmpl.min.js');
      head.js('/plugins/kalendae/kalendae.min.js');
    });