h2 Welcome to our serp tool page

mixin showStatus(status)
  - if (status == 'waiting')
    span.label
      i.icon-time 
      &nbsp; #{status}

  - else if (status == 'finished')
    span.label.label-success
      i.icon-flag
      &nbsp; #{status}

  - else if (status == 'queued')
    span.label.label-info
      i.icon-repeat
      &nbsp; #{status}    
  - else 
    #{status}

mixin showTable(jobName)
  div.row
    div.span3.pull-left
      p
        strong Jobs in list: #{jobs[jobName].length}
    div.pull-right
      button(class='btn btn-small btn-danger delete-all',data-jobid='#{jobs[jobName].length > 0 ? jobs[jobName][jobs[jobName].length - 1]._id : '#'}') 
        i.icon-trash.icon-white
        |  Delete all jobs
      &nbsp;
      a(class='btn btn-small btn-info',href='#{jobs[jobName].length > 0 ? '/serp/job-overall/' + jobs[jobName][0]._id : '#'}') 
        i.icon-info-sign.icon-white
        |  Overall

  table.table
    thead
      tr
        th #
        th Start
        th Added
        th Status
        th Action
    tbody
    for job, key in jobs[jobName]
      tr
        td #{key + 1}
        td #{moment(job.start).format('LLL')}
        td #{moment(job.added).format('LLL')}
        td 
          mixin showStatus(job.status)
        td
          a(href="/serp/delete/#{job._id}",title='Delete')
            i.icon-trash
          &nbsp;
          a(href="/serp/edit/#{job._id}",title='Edit')
            i.icon-pencil
          &nbsp;
          if job.status == 'finished'
            a(href="/serp/view/#{job._id}",title='View')
              i.icon-eye-open

div.accordion#name-accordion
  if jobNames.length > 0
    for name, key in jobNames
      div.accordion-group
        div.accordion-heading
           a(class='accordion-toggle',data-toggle='collapse',data-parent='#name-accordion',href="##{key}") #{name}
        div(id='#{key}',class='accordion-body collapse',style='height: 0px')
          div.accordion-inner
            mixin showTable(name)
  else
    p There are currently no jobs added, click on the menu 'Serp' > 'New-job'.

script(id='errorTpl',type="text/x-jquery-tmpl")
  div.alert.alert-block.alert-error.fade.in
    button(class='close',data-dismiss='alert') &times;
    h4.alert-heading Are you sure that you want to delete the job and all its sub jobs?
    p
      button(class='btn btn-danger') Delete

script(type='text/javascript',src='/javascripts/list-page.js')
script(type='text/javascript',src='/javascripts/jquery.tmpl.min.js')